.v-btn
  text-transform none !important
  padding-left 8px
  padding-right 8px

.buttonColor
  background -webkit-gradient(linear, left top, right top, from(#D30971), to(#9B2AFF))
  color white


.buttonColor:hover
  background -webkit-gradient(linear, left top, right top, from(#9B2AFF), to(#D30971))

