.v-btn {
  text-transform: none !important;
  padding-left: 8px;
  padding-right: 8px;
}
.buttonColor {
  background: -webkit-gradient(linear, left top, right top, from(#d30971), to(#9b2aff));
  color: #fff;
}
.buttonColor:hover {
  background: -webkit-gradient(linear, left top, right top, from(#9b2aff), to(#d30971));
}
.seeBtn {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 700;
}
